.reset {
    height: 85vh;
    margin: 0 auto;
    text-align: center;
    padding: 9em 1em 0 1em;
    max-width: 630px;
    margin-bottom: 50px;
    height: 80vh;

    &__heading {
        font-size: 3.2rem;
        font-weight: 400;
        padding-bottom: 0.5em;
    }
}

@media (min-width: 700px) {
    .reset {
        &__heading {
            font-size:  5.4rem;
        }
    }
}
